body {
    font-family: Arial, sans-serif;
}

header, main, footer {
    margin: 20px;
    padding: 20px;
}

header {
    background-color: #f2f2f2;
}

main {
    text-align: center;
}

#bio {
    margin-top: 20px;
}
